* {
  background-color: #f7f7f7;
}
.App{
  margin: auto; 
  max-width: 400px;
  max-height: 400px;
}
.Header{
  text-align: center;
  text-shadow: 0px 0px 1px lightslategray;
  font-size: 25px;
  font-family: "Lato";
  padding-top: 20px;
  font-weight: 450;
}
.Balance{
  margin-top: 15px;
  font-family: "Lato";
}
.IncomeExpenseContainer{

}