.App{
  background-color: rgb(247, 247, 247);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.Header{
  text-align: center;
  text-shadow: 0px 0px 1px lightslategray;
  font-size: 25px;
  font-family: "Lato";
  padding-top: 20px;
  font-weight: 450;
}
.Balance{
  padding-top: 35px;
  font-family: "Lato";
}
.AccountSummary{
  padding-top: 30px;
  font-family: "Lato";
}
.IncomeExpenseContainer{
  background-color: #fff;
  box-shadow: 1px 1px 2px;
  -webkit-box-shadow: 0 0 10px #C7C7C7;
  font-family: "Lato";
  display: flex;
  justify-content: space-around;
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.TransactionHistory{
  margin-top: 15px;
  font-family: "Lato";
}
.HorizontalLine{
  border: none;
  background:#C7C7C7;
  height: 0.1px;
  margin-top: 10px;
}
.AddTransaction{
  font-family: "Lato";
  margin-top: 35px;
}